body {
    font-family: Arial, sans-serif;
}

form {
    width: 300px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    width: 106%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
}
